---

- name: Locate Boot UUID
  command: /bin/bash -c "blkid -s UUID /dev/{{ boot_device_name }}1 | cut -d'\"' -f2"
  sudo: True
  register: boot_fs_uuid_out

- name: Locate Swap UUID
  command: /bin/bash -c "blkid -s UUID /dev/{{ boot_device_name }}2 | cut -d'\"' -f2"
  sudo: True
  register: swap_fs_uuid_out

- name: Locate Root UUID
  command: /bin/bash -c "blkid -s UUID /dev/{{ root_device_name }} | cut -d'\"' -f2"
  sudo: True
  register: root_fs_uuid_out

- name: Set UUIDs
  set_fact:
    boot_fs_uuid: "{{ boot_fs_uuid_out.stdout }}"
    swap_fs_uuid: "{{ swap_fs_uuid_out.stdout }}"
    root_fs_uuid: "{{ root_fs_uuid_out.stdout }}"

- name: Template fstab
  template: 
    src: "fstab.j2"
    dest: "/mnt/etc/fstab"
  sudo: True

- name: Copy Yum Conf
  copy: src=tmp.yum.conf dest=/tmp/tmp.yum.conf

- name: Install Release Server
  command: /bin/bash -c "docker run -v /mnt:/mnt --rm {{ build_os_distribution }}{{ build_os_version }}_builder bash -c \"yum --releasever {{ build_os_version }} --installroot=/mnt/ -y groupinstall Base\""
  sudo: True

- name: Install Yum Repos (CentOS)
  command: /bin/bash -c "docker run -v /mnt:/mnt --rm {{ build_os_distribution }}{{ build_os_version }}_builder bash -c \"yum --releasever {{ build_os_version }} --installroot=/mnt/ -y install centos-release deltarpm\""
  sudo: True

- name: Copy resolv.conf
  command: /bin/bash -c "cp /etc/resolv.conf /mnt/etc/resolv.conf"
  sudo: True
