UUID={{ root_fs_uuid }}        /                   ext4            defaults            1 1
UUID={{ boot_fs_uuid }}        /boot               ext2            defaults            1 1
UUID={{ swap_fs_uuid }}        swap                swap            defaults            0 0
/tmp               /var/tmp            none            bind                0 0
tmpfs              /dev/shm            tmpfs           noexec,nodev,nosuid 0 0
devpts             /dev/pts            devpts          gid=5,mode=620      0 0
sysfs              /sys                sysfs           defaults            0 0
proc               /proc               proc            defaults            0 0
